[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DimaHudovec
[access "refs/for/refs/*"]
	read = group user/DimaHudovec
	push = group user/DimaHudovec
	label-Code-Review = -2..+2 group user/DimaHudovec
	label-Verified = -1..+1 group user/DimaHudovec
	rebase = group user/DimaHudovec
	removeReviewer = group user/DimaHudovec
	submit = group user/DimaHudovec
[access "refs/heads/*"]
	read = group user/DimaHudovec
	create = group user/DimaHudovec
	push = +force group user/DimaHudovec
	pushMerge = group user/DimaHudovec
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/DimaHudovec
	pushTag = group user/DimaHudovec
	pushSignedTag = group user/DimaHudovec
